<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/nav.css" type="text/css">
    <title>Document</title>
</head>

<body>
    <div class="nav">
        <h4><a class="logo">Appleforum</a></h4>
        <a href="/list">list</a>
        <a href="/write">write</a>
        <a href="/login">login</a>
        <a href="/register">register</a>
    </div>
</body>

</html>